body {
    font-family: Arial, sans-serif;
    background: #c91313;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    background: rgb(183, 11, 189);
    padding: 20px;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 70%;
    padding: 10px;
  }
  
  button {
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background: #0dc0d8;
    border-radius: 5px;
  }
  
  li span {
    flex: 1;
    margin-left: 8px;
  }
  
  .acciones button {
    margin-left: 5px;
  }
  
  .icono {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Responsive */
  @media (max-width: 500px) {
    input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
      margin: 5px 0;
    }
  
    .icono {
      width: 14px;
      height: 14px;
    }
  }
  